body {
    background-color: teal;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }

#form {
    
    margin: 30px;
    margin-top: 100px;
    padding: 50px;
    background-color: white;
    margin-bottom: 80px;
  }

#header {
    color: teal;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: white;
}

.header {
    color: teal;
    font-weight: bold;
    background-color: white;
}


.card-title:hover {
    font-size: x-large;
    background-color: white;
    color: black;
}



